body {
    background-color: #111111;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: white
}

a {
    color: white;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

hr {
    margin: 50px 0px;
}

nav {
    background-color: #000000;
    opacity: 0.8;
    position: sticky;
    z-index: 200;
    top: 0px;
}

nav ul {
    margin: 0px auto;
    list-style: none;
    padding: 20px 30px 35px;
    max-width: 980px;
}
nav ul li {
    float: left;
    margin-right: 20px;
}

nav ul a {
    opacity: 0.5;
}

nav ul a:hover {
    opacity: 1;
}

.wrapper {
    padding: 30px;
}

.container {
    margin: 55px auto;
    max-width: 980px;
    padding: 10px 30px;
}

.left-list {
    padding: 20px;
    width: 15%;
    float: left;
}

.right-list {
    padding: 20px;
    width: 15%;
    float: left;
}

.logo {
    position: absolute;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.logo img {
    margin: 30vh auto;
    display: block;
}

#videoBG {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    object-fit: cover;
}

#TDlogo {
    padding: 0px 33px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 980px;
    margin: 55 auto;
    width:86vw;
}

.about {
    width: 50%;
}

.tddescribe {
    width: 80%;
}