body {
    background-color: black;
}

h1,
p {
    color: white;
}

.logo {
    position: absolute;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.logo img {
    margin: 30vh auto;
    display: block;
}

#videoBG {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}