html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    background-color: #111111;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: white
}

a {
    color: white;
    text-decoration: none;
}

h1,
p {
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    float: left;
    margin-right: 20px;
}

nav {
    background-color: #000000;
    opacity: 0.5;
    position: relative;
    z-index: 200;
}

nav ul {
    padding: 20px 30px 35px;
}

nav ul a {
    opacity: 0.5;
}

nav ul a:hover {
    opacity: 1;
}

.wrapper {
    padding: 30px;
}

.logo {
    position: absolute;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.logo img {
    margin: 30vh auto;
    display: block;
}

#videoBG {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    object-fit: cover;
}